In [63]:
import requests
response = requests.get('https://docs.google.com/spreadsheets/d/1wGaAwmA01qFMCNRdtJCUH2V4wapxTk0HvuVSO_MAD0I/edit?usp=sharing')
assert response.status_code == 200, 'Wrong status code'
print(response.content)

AssertionError: Wrong status code

In [59]:
import pandas as panda

dados = panda.read_csv("vendas.csv")
# dados = panda.drop(["Unnamed: 0"], axis=1)
display(dados)

,Carimbo de data/hora,Quem preenche este formul√°rio?,Nome (somente primeiro nome),Bairro,Pedido [Art.Smash],Pedido [Art.Cheese],Pedido [Art.Lingui√ßa],Pedido [Art.Frango],Pedido [Art.Bacon],Pedido [Art.Special],...,Pedido [Pastel G],Pedido [Por√ß√£ao de Batata],Pedido [Milkshake Chocolate],Pedido [Milkshake Morango],Pedido [Refri 200ml],Pedido [Refri Lata],Forma de Pagamento,Valor do pedido ( somente numeros ),"Taxa de Entrega (Somente Numeros, Se n√£o tiver taxa, digite zero)",Observa√ß√£o
0,30/04/2021 21:37:50,Gabriel,Phillipe,Esplanada,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,3.0,NaN,PIX üîë,63,3,NaN
1,30/04/2021 21:38:15,Gabriel,Dora,Alvorada,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,Dinheiro üíµ,10,0,NaN

## **Tratamento de datas**

In [60]:

dados = dados.rename(columns={'Carimbo de data/hora' : 'Data'})
dados['Data'] = dados['Data'].str.slice_replace(10, 19, '')
dados['Data'] = panda.to_datetime(dados['Data'], format="%d/%m/%Y")
print(dados.info())
display(dados)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 22 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Data                                                               2 non-null      datetime64[ns]
 1   Quem preenche este formul√°rio?                                     2 non-null      object
 2   Nome (somente primeiro nome)                                       2 non-null      object
 3   Bairro                                                             2 non-null      object
 4   Pedido [Art.Smash]                                                 0 non-null      float64
 5   Pedido [Art.Cheese]                                                1 non-null      float64
 6   Pedido [Art.Lingui√ßa]                                              0 non-null      float64
 7   Pedido [Art.Frango]                                                0 non-null      float64
 8   Pedido [Art.Bacon]                                                 0 non-null      float64
 9   Pedido [Art.Special]                                               0 non-null      float64
 10  Pedido [Art.Double]                                                0 non-null      float64
 11  Pedido [Pastel P]                                                  0 non-null      float64
 12  Pedido [Pastel G]                                                  1 non-null      float64
 13  Pedido [Por√ß√£ao de Batata]                                         1 non-null      float64
 14  Pedido [Milkshake Chocolate]                                       0 non-null      float64
 15  Pedido [Milkshake Morango]                                         0 non-null      float64
 16  Pedido [Refri 200ml]                                               1 non-null      float64
 17  Pedido [Refri Lata]                                                0 non-null      float64
 18  Forma de Pagamento                                                 2 non-null      object
 19  Valor do pedido ( somente numeros )                                2 non-null      int64
 20  Taxa de Entrega (Somente Numeros, Se n√£o tiver taxa, digite zero)  2 non-null      int64
 21  Observa√ß√£o                                                         0 non-null      float64
dtypes: datetime64[ns](1), float64(15), int64(2), object(4)
memory usage: 480.0+ bytes
None

,Data,Quem preenche este formul√°rio?,Nome (somente primeiro nome),Bairro,Pedido [Art.Smash],Pedido [Art.Cheese],Pedido [Art.Lingui√ßa],Pedido [Art.Frango],Pedido [Art.Bacon],Pedido [Art.Special],...,Pedido [Pastel G],Pedido [Por√ß√£ao de Batata],Pedido [Milkshake Chocolate],Pedido [Milkshake Morango],Pedido [Refri 200ml],Pedido [Refri Lata],Forma de Pagamento,Valor do pedido ( somente numeros ),"Taxa de Entrega (Somente Numeros, Se n√£o tiver taxa, digite zero)",Observa√ß√£o
0,2021-04-30,Gabriel,Phillipe,Esplanada,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,3.0,NaN,PIX üîë,63,3,NaN
1,2021-04-30,Gabriel,Dora,Alvorada,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,Dinheiro üíµ,10,0,NaN

In [61]:
dados.columns = dados.columns.str.replace("[", '')
dados.columns = dados.columns.str.replace("]", '')
display(dados)
dados = dados.rename(columns={
    'Pedido Art.Smash' : 'Art.Smash',
    'Pedido Art.Cheese' : 'Art.Cheese',
    'Pedido Art.Lingui√ßa' : 'Art.Lingui√ßa',
    'Pedido Art.Frango' : 'Art.Frango',
    'Pedido Art.Bacon' : 'Art.Bacon',
    'Pedido Art.Special' : 'Art.Special',
    'Pedido Art.Double' : 'Art.Double',
    'Pedido Pastel P' : 'Pastel P',
    'Pedido Pastel G' : 'Pastel G',
    'Pedido Por√ß√£ao de Batata' : 'Por√ß√£ao de Batata',
    'Pedido Milkshake Chocolate' : 'Milkshake Chocolate',
    'Pedido Milkshake Morango' : 'Milkshake Morango',
    'Pedido Refri 200ml' : 'Refri 200ml',
    'Pedido Refri Lata' : 'Refri Lata',
})
display(dados)

<ipython-input-61-dfaa441cd117>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  dados.columns = dados.columns.str.replace("[", '')
<ipython-input-61-dfaa441cd117>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  dados.columns = dados.columns.str.replace("]", '')

,Data,Quem preenche este formul√°rio?,Nome (somente primeiro nome),Bairro,Pedido Art.Smash,Pedido Art.Cheese,Pedido Art.Lingui√ßa,Pedido Art.Frango,Pedido Art.Bacon,Pedido Art.Special,...,Pedido Pastel G,Pedido Por√ß√£ao de Batata,Pedido Milkshake Chocolate,Pedido Milkshake Morango,Pedido Refri 200ml,Pedido Refri Lata,Forma de Pagamento,Valor do pedido ( somente numeros ),"Taxa de Entrega (Somente Numeros, Se n√£o tiver taxa, digite zero)",Observa√ß√£o
0,2021-04-30,Gabriel,Phillipe,Esplanada,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,3.0,NaN,PIX üîë,63,3,NaN
1,2021-04-30,Gabriel,Dora,Alvorada,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,Dinheiro üíµ,10,0,NaN

,Data,Quem preenche este formul√°rio?,Nome (somente primeiro nome),Bairro,Art.Smash,Art.Cheese,Art.Lingui√ßa,Art.Frango,Art.Bacon,Art.Special,...,Pastel G,Por√ß√£ao de Batata,Milkshake Chocolate,Milkshake Morango,Refri 200ml,Refri Lata,Forma de Pagamento,Valor do pedido ( somente numeros ),"Taxa de Entrega (Somente Numeros, Se n√£o tiver taxa, digite zero)",Observa√ß√£o
0,2021-04-30,Gabriel,Phillipe,Esplanada,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,3.0,NaN,PIX üîë,63,3,NaN
1,2021-04-30,Gabriel,Dora,Alvorada,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,Dinheiro üíµ,10,0,NaN

In [ ]:
display(dados['Platform'].value_counts())
display(dados['Forma de Pa'].value_counts(normalize=True).map('{:.1%}'.format))